<style>
.badge_intro_inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
  align-items: center;
  justify-content: center;
}
  .badge_intro_media{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    
  }
 .badge_intro_media img{
   width: 100%;
   height: auto;
 }
  .badge_intro_content{

     min-width: 320px;
    max-width: 600px;

  }
   .badge_intro_content{
       padding: 3%; 
   }
  .badge_intro_content h2{
    font-size: 43px;
    margin: 0px;
  }
  .badge_intro_content h2,
  .badge_intro_content p,
  .badge_intro_content a{
    color: {{section.settings.textColor}} !important;
  }
 @media screen and (max-width: 991px){
   .badge_intro_inner{
  grid-template-columns: 1fr;
     padding: 20px 0px !important;
     
}
   .badge_intro_media,
   .badge_intro_content{
       padding: 5%; 
   }
   .badge_intro_media{
     margin:auto !important;
   }
 } 
    @media screen and (min-width: 750px){
    #badge_intro-{{ section.id }}{
       padding-top: {{section.settings.desktop_paddingTop}}px;
       padding-bottom: {{section.settings.desktop_paddingBottom}}px;
      
    }
  }
  @media screen and (max-width: 749px){
    #badge_intro-{{ section.id }}{
       padding-top: {{section.settings.mobile_paddingTop}}px;
       padding-bottom: {{section.settings.mobile_paddingBottom}}px;
      
    }
  }
</style>
{% style %}
{% endstyle %}


<section class="badge_intro" id="badge_intro-{{ section.id }}" >
     <div class="container">
        <div class="badge_intro_inner">
          {% if section.settings.badge != blank %}
             <div class="badge_intro_media">
                {{ section.settings.badge | image_url:width:section.settings.badge.width | image_tag:loading:'lazy', class:'badge_intro_image' }}
             </div>
            {% endif %} 
             <div class="badge_intro_content">
               {% if section.settings.headline != blank %}
                 <h2>{{ section.settings.headline }}</h2>
               {% endif %}
               {% if section.settings.description != blank %}
               <p>{{ section.settings.description }}</p>
               {% endif %}
               {% if section.settings.textLink != blank %}
               <a href="{{ section.settings.textLink_url }}"> {{ section.settings.textLink }} </a>
                 {% endif %}
              </div>
        </div>
     </div>
</section>




{% schema %}
  {
    "name": "badge Intro",
    "settings": [
      {
        "type": "color",
        "id": "bgColor",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "textColor",
        "label": "Text Color"
      },
      {
        "type": "image_picker",
        "id": "badge",
        "label": "Badge Upload"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "textLink",
        "label": "Text link"
      },
      {
        "type": "text",
        "id": "textLink_url",
        "label": "Text Link Url"
      },     {
        "type": "range",
        "id": "desktop_paddingTop",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Desktop padding top",
        "default": 20
},
      {
        "type": "range",
        "id": "desktop_paddingBottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Desktop padding Bottom",
        "default": 20
},
      {
        "type": "range",
        "id": "mobile_paddingTop",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding top",
        "default": 20
},
      {
        "type": "range",
        "id": "mobile_paddingBottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding Bottom",
        "default": 20
},
    ],
    "presets": [
      {
        "name": "Badge Intro"
      }
    ]
  }
{% endschema %}