{% style %}
  .badge_main_image img{
    width: 100%;
    height: auto;
  }
.single_image_badge {
  width: 100%;
  height: auto;
}
.single_image_badge .badge_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 130px;
  position: relative;
  align-items: center;
}
.single_image_badge .badge_main_image {
  width: 100%;
  height: 100%;
}
.single_image_badge .badge_main_image svg {
  width: 100%;
  height: 800px;
  border-radius: 4px;
}
.single_image_badge .badge_main_image img {
  border-radius: 4px;
}
.single_image_badge h2 {
  font-size: 44px;
  font-weight: 400;
  line-height: 100%; 
}
.single_image_badge span {
  display: block;
  padding: 20px 0;
}
.single_image_badge span,
.single_image_badge span p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}
.single_image_badge .badge_icon {
  width: 280px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  top: -5%;
}
  #single_image_badge-{{ section.id }} {
    background: {{section.settings.bg_color}};
    padding-top:{{ section.settings.padding_top_desktop }}px;
    padding-bottom:{{ section.settings.padding_bottom_desktop }}px;
    margin-top:{{ section.settings.margin_top_desktop }}px;
    margin-bottom:{{ section.settings.margin_bottom_desktop }}px;
  }

  #single_image_badge-{{ section.id }} .primary_btn {
    background: {{section.settings.primary_btn_bg_color}};
    color: {{section.settings.primary_btn_text_color}};
    border: 1px solid {{section.settings.primary_btn_border_color}};
  }

  #single_image_badge-{{ section.id }} .primary_btn:hover {
    background: {{section.settings.primary_btn_hover_bg_color}};
    color: {{section.settings.primary_btn_hover_text_color}};
    border: 1px solid {{section.settings.primary_btn_hover_border_color}};
  }

  #single_image_badge-{{ section.id }} h2,

  #single_image_badge-{{ section.id }} span,

  #single_image_badge-{{ section.id }} p {
    color: {{section.settings.font_color}};
  }

  #single_image_badge-{{ section.id }} .slick-dots li {
    background: {{section.settings.font_color}};
  }
  @media screen and (max-width: 991px) {
.single_image_badge .badge_inner {
  display: grid;
  grid-template-columns: 1fr !important;
}
#single_image_badge-{{ section.id }} {
  padding-top:{{ section.settings.padding_top_mobile}}px;
  padding-bottom:{{ section.settings.padding_bottom_mobile }}px;
  margin-top:{{ section.settings.margin_top_mobile }}px;
  margin-bottom:{{ section.settings.margin_bottom_mobile }}px;
}
  }
{% endstyle %}

<section class="single_image_badge" id="single_image_badge-{{ section.id }}">
  <div class="container">
    <div class="badge_inner">
      {% if section.settings.image != blank %}
        <div class="badge_main_image">
          {{ section.settings.image | image_url: width: section.settings.image.width | image_tag:loading: 'lazy' }}
        </div>
        {% else %}
        <div class="badge_main_image">
          {%- capture placeholder_image -%}{% cycle 'placeholder': 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}
          {{- placeholder_image | placeholder_svg_tag: 'placeholder' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' -}}
        </div>
      {% endif %}
      <div class="badge_content">
        {% if section.settings.headline != blank %}
          <h2>{{ section.settings.headline }}</h2>
        {% endif %}
        {% if section.settings.desc != blank %}
          <span>{{ section.settings.desc }}</span>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <a href="{{ section.settings.btn_url }}" class="primary_btn">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
      {% if section.settings.badge_icon != blank %}
        <div class="badge_icon">
          {{ section.settings.badge_icon | image_url: width: section.settings.badge_icon.width | image_tag:loading: 'lazy' }}
        </div>
      {% endif %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Single Image Badge",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Main Image"
      },
      {
        "type": "image_picker",
        "id": "badge_icon",
        "label": "Badge Icon"
      },
      {
        "type": "text",
        "id": "headline",
        "label": "Headline",
        "default":"Lorem ipsum dolor sit amet, consectetur"
      },
      {
        "type": "richtext",
        "id": "desc",
        "label": "Description",
        "default":"<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default":"Shop All Kennels"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      },
      {
        "type":"header",
        "content":"Section Color Settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label":"BG Color",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Font Color",
        "default": "#4A4E58"
      },
      {
        "type": "color",
        "id": "primary_btn_bg_color",
        "label":"Button BG Color",
        "default": "#E9522E"
      },
      {
        "type": "color",
        "id": "primary_btn_text_color",
        "label":"Button Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "primary_btn_border_color",
        "label":"Button Border Color",
        "default": "#E9522E"
      },
      {
        "type": "color",
        "id": "primary_btn_hover_bg_color",
        "label":"Button Hover BG Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "primary_btn_hover_text_color",
        "label":"Button Hover Text Color",
        "default": "#4A4E58"
      },
      {
        "type": "color",
        "id": "primary_btn_hover_border_color",
        "label":"Button Hover Border Color",
        "default": "#fff"
      },
      {
        "type":"header",
        "content":"Section Spacing Settings"
      },
      {
        "type": "range",
        "id": "padding_top_desktop",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding Top Desktop",
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom_desktop",
        "min": 0,
        "max": 150,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom Desktop",
        "default": 100
      },
      {
        "type": "range",
        "id": "margin_top_desktop",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Margin Top Desktop",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Margin Bottom Desktop",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 40
      },
      {
        "type": "range",
        "id": "margin_top_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Margin Top Mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Margin Bottom Mobile",
        "default": 0
      }
    ],
    "presets": [
      {
        "name":"Single Image Badge"
      }
    ]
  }
{% endschema %}