<style>
  .grid_content{
    background-color: {{section.settings.backgroundColor}};
    
  }
  .grid_content_item_content h2,
  .grid_content_item_content h3,
   .grid_content_item_content h5,
  .grid_content_item_content p{
   color: {{section.settings.fontColor}};

     }
  .W_about_inner_Headline h2{
    color: #4A4E58;
leading-trim: both;
text-edge: cap;
font-size: 48px;
font-style: normal; 
font-weight: 900;
line-height: 125%; /* 72px */
text-transform: uppercase;
  }
  .W_about_inner_item_media img{
    width: 100%;
    height: auto;
  }
  .grid_content_item_content h3{
color: #4A4E58;

leading-trim: both;

text-edge: cap;
font-style: normal;
font-weight: 900;
line-height: 100%; /* 60px */
  }
  .grid_content_item_content h5{
    color: #4A4E58;
    margin: 0px;
    leading-trim: both;
    text-edge: cap;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 48px */
  }
    .grid_content_item_content p{
color: #4A4E58;
leading-trim: both;
text-edge: cap;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
    }
   .grid_content .grid_content_item a{
     color: {{section.settings.buttonColor}};
     text-decoration: none;
           display: flex;
      height: 48px;
      min-width: fit-content;
        max-width: fit-content;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
gap: 10px;
     border-radius: 4px;
background: #4A4E58;

   }
  .grid_content_item_media img{
    width: 100%;
    height: auto;
  }
 
  @media screen and (min-width: 991px){
   .grid_content .grid_content_item{
     display: flex;
     
     align-items: center;
     justify-content: start;
   }
      .grid_content_item_content h5{
         padding-top: 30px;
      }
       .grid_content_item_content p{
         padding-top: 20px;
       }
    .grid_content_item_content a{
        margin-top: 20px;
     }
    .grid_content_item_content,
    .grid_content_item_media,
     .media_svg{
      width: 50% !important;
    }
       .grid_content_item_content h3{
   font-size: 50px;
    }
     
         .grid_content_item_content h5{
font-size: 22px;
         }
          .grid_content_item_content p{
font-size: 17px;
         }
   
    
  }
    @media screen and (max-width: 990px){
        
       .grid_content_item_content,
    .grid_content_item_media,
          .media_svg{
      width: 100%;
    }
      
  .grid_content .grid_content_item{
     display: flex;
     align-items: center;
    flex-direction: column;
     justify-content: start;
   }
    .grid_content_item_content h3{
      font-size: 32px;
    }
         .grid_content_item_content h5{
font-size: 16px;
         }
          .grid_content_item_content p{
font-size: 16px;
         }
         .grid_content_item_content h5{
         padding-top: 30px;
      }
       .grid_content_item_content p{
         padding-top: 20px;
       }
    .grid_content_item_content a{
        margin-top: 15px;
     }
  }
</style>
<section class="grid_content" id="grid_content-{{ section.id }}">
   <div class="container">
      <div class="grid_content_inner">
  
        <div  class="grid_content_items"> 
            {% for block in section.blocks %}
              {% case block.type %}
                 {% when 'item' %}
                <style>
                       @media screen and (min-width: 991px){
                  
                       .grid_content_item_content-{{ block.id }} {
       padding-top: {{block.settings.desktop_paddingTop}}px;
       padding-bottom: {{block.settings.desktop_paddingBottom}}px;
            padding-left: {{block.settings.desktop_paddingLeftRight}}px;
            padding-right: {{block.settings.desktop_paddingLeftRight}}px;
       
     }
  }
    @media screen and (max-width: 990px){
         .grid_content_item_content-{{ block.id }} {
       padding-top: {{block.settings.mobile_paddingTop}}px;
       padding-bottom: {{block.settings.mobile_paddingBottom}}px;
            padding-left: {{block.settings.mobile_paddingLeftRight}}px;
            padding-right: {{block.settings.mobile_paddingLeftRight}}px;
         }
     }
                   @media screen and (min-width: 991px){
                     {% if block.settings.desktop_layout == "image_right" %}
                
                  .grid_content_item-{{ block.id }}{
       flex-direction: row-reverse !important;
                  }
       {% endif %}
                       
                   }
                        @media screen and (max-width: 990px){
                  .grid_content_item-{{ block.id }}{
                     {% if block.settings.mobile_layout == "image_bottom" %}
       flex-direction: column-reverse !important;
       {% endif %}
                  }
                   }
                 
                </style>
                <div class="grid_content_item grid_content_item-{{ block.id }}">
                 
                  {% if block.settings.image  != blank %}
                <div class="grid_content_item_media">
                    {{ block.settings.image | image_url:width:block.settings.image.width | image_tag:loading:'lazy'}}
                  </div>
                  {% else %}
                    <div class="media_svg" > 
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    {% endif %}
                   <div class="grid_content_item_content grid_content_item_content-{{ block.id }}">
                  {% if block.settings.headline  != blank %}
                    
                     <h3>{{ block.settings.headline }}</h3>
                    {% endif %}
                     {% if block.settings.subheadline  != blank %}
                    
                     <h5>{{ block.settings.subheadline }}</h5>
                    {% endif %}
                  {% if block.settings.description  != blank %}
                    
                  <p>{{ block.settings.description }}</p>
                    {% endif %}
                       {% if block.settings.buttontext  != blank %}
                    
                  <a href="buttonurl">{{ block.settings.buttontext }}</a>
                    {% endif %}
                  </div>
                </div>
                {% endcase %}
              {% endfor %}
        </div>
        
      </div>
   </div>
</section>

{% schema %}
{
"name": "Grid Content",
"settings": [
  {
"type": "color",
"id": "backgroundColor",
"label": "Background Color"
},
   {
"type": "color",
"id": "fontColor",
"label": "Font Color"
},
    {
"type": "color",
"id": "buttonColor",
"label": "Button Color"
}

],
  "blocks":[
       {
         "type": "item",
         "name": "Item",
         "settings":[
                  {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
"type": "select",
"id": "desktop_layout",
"options": [
{
"value": "image_left",
"label": "Image Left"
},
{
"value": "image_right",
"label": "Image Right"
}
],
"default": "image_left",
"label": "Desktop Image Position",
},
{
"type": "select",
"id": "mobile_layout",
"options": [
{
"value": "image_top",
"label": "Image Top"
},
{
"value": "image_bottom",
"label": "Image Bottom"
}
],
"default": "image_top",
"label": "Mobile Image Position",
},
           {
             "type": "text",
             "id": "headline",
             "label": "Headline",
             "default": "Ex ea commodo consequat"
           },
           {
             "type": "text",
             "id": "subheadline",
             "label": "Sub Heading",
             "default": "Lorem ipsum dolor sit amet, consectetur adipiscing."
           },
           {
             "type": "richtext",
             "id": "description",
             "label": "Description",
             "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
           },
       {
             "type": "text",
             "id": "buttontext",
             "label": "Button text",
             "default": "Shop All Kennels"
           },
                  {
             "type": "url",
             "id": "buttonurl",
             "label": "Button url"
           },
             {
"type": "range",
"id": "desktop_paddingTop",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Desktop Content Padding Top",
"default":0
},
  {
"type": "range",
"id": "desktop_paddingBottom",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Desktop Content Padding Bottom",
"default": 0
},
  {
"type": "range",
"id": "mobile_paddingTop",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Mobile Content Padding Top",
"default": 0
},
  {
"type": "range",
"id": "mobile_paddingBottom",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Mobile Content Padding Bottom",
"default": 5
},
  {
"type": "range",
"id": "desktop_paddingLeftRight",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Desktop Content Padding Horizontal",
"default": 5
},
    {
"type": "range",
"id": "mobile_paddingLeftRight",
"min": 0,
"max": 100,
"step": 1,
"unit": "px",
"label": "Mobile  Content Padding Horizontal",
"default": 3
}
         ]
       }
  ],
"presets": [
{
"name": "Grid Content",
  "blocks": [
        {
          "type": "item"
        },
    {
          "type": "item"
        },
    {
          "type": "item"
        }

]
}
]
}
{% endschema %}