<style>
    .gunner_brand_feature {
        background-color: {{section.settings.backgroundColor}};
    }
    .gunner_brand_feature h3,
    .gunner_brand_feature h2,
    .gunner_brand_feature p {
        color: {{section.settings.fontColor}};    
    }
   
    @media screen and (min-width: 991px) {
        .gunner_brand_feature {
            padding-top: {{section.settings.desktop_paddingTop}}px;
            padding-bottom: {{section.settings.desktop_paddingBottom}}px;
            padding-left: {{section.settings.desktop_paddingLeft}}px;
            padding-right: {{section.settings.desktop_paddingRight}}px;
        }
    }

    @media screen and (max-width: 990px) {
  
        .gunner_brand_feature {
            padding-top: {{section.settings.mobile_paddingTop}}px;
            padding-bottom: {{section.settings.mobile_paddingBottom}}px;
            padding-left: {{section.settings.mobile_paddingLeft}}px;
            padding-right: {{section.settings.mobile_paddingRight}}px;
        }
        .gunner_badnge_with_Text,
        .gunner_Trustbadges,
        .gunner_buttons {
            flex-direction: column;
        }
        .gunner_badnge_with_Text h2 {
            text-align: center;
        }
        .gunner_Trustbadges .trust_badge_media {
            width: 64px !important;
            height: auto;
        }
        .trust_badge_media img {
            height: auto;
            width: 100%;
        }
        .gunner_Trustbadges_item {
            gap: 20px !important;
        }
        .gunner_brand_feature_inner {
            gap: 40px !important;
        }
        .gunner_badge_media {
            max-width: 224px !important;
        }
        .gunner_badnge_with_Text h2 {
            font-size: 40px !important;
        }
        .gunner_buttons {
            gap: 10px !important;
            width: 100%;
        }
        .gunner_buttons a {
            min-width: 100% !important;
        }
        .gunner_Trustbadges_item h3 {
            color: #4A4E58;
            text-align: center;
            leading-trim: both;
            text-edge: cap;
            font-family: Avenir;
            font-size: 20px !important;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }

    .gunner_badnge_with_Text h2 {
        leading-trim: both;
        text-edge: cap;
        font-family: "Gunner Kennels";
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 60px */
        text-transform: lowercase;
    }
    .gunner_badge_media {
        max-width: 327px;
        height: auto;
    }
    .gunner_badge_media img {
        width: 100%;
        height: auto;
    }
    .gunner_badnge_with_Text {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .gunner_brand_feature_inner {
        display: flex;
        align-items: center;
        gap: 100px;
        flex-direction: column;
        justify-content: center;
    }
    .gunner_Trustbadges {
        display: flex;
        gap: 40px;
        align-items: end;
        justify-content: center;
    }
    .gunner_Trustbadges_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }
    .gunner_buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .gunner_buttons a:nth-child(1) {
        display: flex;
        height: 48px;
        min-width: 172px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        border-radius: 4px;
        color: {{section.settings.primaryButtonTextColor}};
        background: {{section.settings.primaryButtonBgColor}};
    }
    .gunner_buttons a:nth-child(2) {
        display: flex;
        height: 48px;
        min-width: 172px;
        padding: 0px 20px;
        justify-content: center;
        color: {{ section.settings.secondaryButtonTextColor}};
        text-decoration: none;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        border: 1px solid {{section.settings.secondaryButtonBorderColor}};
        background: {{section.settings.secondaryButtonBgColor}};
    }
    .gunner_Trustbadges_item h3 {
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: Avenir;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
</style>

<section class="gunner_brand_feature" id="gunner_brand_feature-{{ section.id }}">
    <div class="container">
        <div class="gunner_brand_feature_inner">
            <div class="gunner_badnge_with_Text"> 
              {% if section.settings.badgeImage != blank %}
                <div class="gunner_badge_media">
                    {{ section.settings.badgeImage | image_url:width:section.settings.badgeImage.width | image_tag:loading:'lazy' }}
                </div>
              {% else %}
                <div class="gunner_badge_media">
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
              {% if section.settings.headline != blank %}
                <h2>{{ section.settings.headline }}</h2>
              {% endif %}
            </div>
            <div class="gunner_Trustbadges"> 
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'icon' %}
                            <div class="gunner_Trustbadges_item"> 
                               {% if block.settings.icon != blank %}  
                                 <div class="trust_badge_media">
                                     {{ block.settings.icon | image_url:width:block.settings.icon.width | image_tag:loading:'lazy' }}
                                 </div>        
                              {% else %}
                                 <div class="trust_badge_media">
                                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                 </div>
                              {% endif %}
                              {% if block.settings.iconText != blank %}
                                <h3>{{ block.settings.iconText }}</h3>
                              {% endif %}
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
            <div class="gunner_buttons"> 
              {% if section.settings.primaryButtonText != blank %}
                <a href="{{ section.settings.primaryButtonUrl }}"> {{ section.settings.primaryButtonText }} </a>
              {% endif %}
              {% if section.settings.secondaryButtonText != blank %}
                <a href="{{ section.settings.secondaryButtonUrl }}"> {{ section.settings.secondaryButtonText }} </a>
              {% endif %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Gunner Brand Feature",
    "settings": [
        {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "fontColor",
            "label": "Font Color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "primaryButtonTextColor",
            "label": "Primary Button Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "primaryButtonBgColor",
            "label": "Primary Button Background Color",
            "default": "#6A6A45"
        },
        {
            "type": "color",
            "id": "secondaryButtonTextColor",
            "label": "Secondary Button Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "secondaryButtonBgColor",
            "label": "Secondary Button Background Color",
            "default": "#6A6A45"
        },
        {
            "type": "color",
            "id": "secondaryButtonBorderColor",
            "label": "Secondary Button Border Color",
            "default": "#6A6A45"
        },
        {
            "type": "image_picker",
            "id": "badgeImage",
            "label": "Badge Image Upload"
        },
        {
            "type": "text",
            "id": "headline",
            "label": "Headline",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor."
        },
        {
            "type": "text",
            "id": "primaryButtonText",
            "label": "Primary Button Text",
            "default": "Shop All Kennels"
        },
        {
            "type": "url",
            "id": "primaryButtonUrl",
            "label": "Primary Button Url"
        },
        {
            "type": "text",
            "id": "secondaryButtonText",
            "label": "Secondary Button Text",
             "default": "Learn More"
        },
        {
            "type": "url",
            "id": "secondaryButtonUrl",
            "label": "Secondary Button Url"
        },
        {
            "type": "range",
            "id": "desktop_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "desktop_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding Bottom",
            "default": 20
        },
        {
            "type": "range",
            "id": "desktop_paddingLeft",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding Left",
            "default": 20
        },
        {
            "type": "range",
            "id": "desktop_paddingRight",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding Right",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding Bottom",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingLeft",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding Left",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingRight",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding Right",
            "default": 20
        }
    ],
    "blocks": [
        {
            "type": "icon",
            "name": "Icon",
            "limit": 4,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon upload"
                },
                {
                    "type": "text",
                    "id": "iconText",
                    "label": "Icon Text",
                    "default": "Lorem Ipsum Dolor"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Gunner Brand Feature",
            "blocks": [
                {
                    "type": "icon"
                },
                {
                    "type": "icon"
                },
                {
                    "type": "icon"
                },
                {
                    "type": "icon"
                }
            ]
        }
    ]
}
{% endschema %}
