<style>
  .headline_feature .container{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
  }
  .headline_feature img{
    width: auto;
    height: {{section.settings.badgeSize}}px ;
  }
    .headline_feature .container{
    background: {{section.settings.bgColor}};
      
    }
  
  .headline_feature h2{
    font-size: 42px;
   
  }
  .headline_feature h2,
  .headline_feature p{
    text-align: center;
    width: 70%;
    
    margin: 0px auto;
    padding: 0px;
    color: {{section.settings.fontColor}};
  }
  .headline_feature a {
    padding: 4px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    background: #4A4E58;
    color: {{section.settings.buttoncolor}}
  }
   #shopify-section-{{ section.id }} .page-width{
      margin: 0px  auto !important ;
      padding: 80px 0px !important;
    }
  @media screen and (max-width: 769px){
      .headline_feature h2,
  .headline_feature p{
    text-align: center;
    width: 90% !important;
  }
       .headline_feature h2{
         font-size: 28px !important;
       }
</style>
 
 <section class="headline_feature page-width" id="headline_feature-{{ section.id }}">
   <div class= "inner_headlineFeature">
   <div class="container">
     {% if section.settings.Headline != blank %}
     <h2>
       {{ section.settings.Headline }}
     </h2>
     {% endif %}
     {% if section.settings.Description != blank  %}
     <p>{{ section.settings.Description }}</p>
     {% endif %}
     {% if section.settings.badge_upload != blank %}
     <div>
       {{ section.settings.badge_upload | image_url:width:section.settings.badge_upload.width | image_tag:loading: 'lazy', class:'hero_mobile'}}
     </div>
     {% endif %}
     {% if section.settings.buttonText != blank %}
       <a href="{{ section.settings.buttonUrl }}"> {{ section.settings.buttonText }}</a>
     {% endif %}
   </div>
    </div>
 </section>




{% schema %}
  {
    "name": "Headline Feature",
    "settings": [
      {
        "type": "color",
        "id": "bgColor",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "fontColor",
        "label": "Font Color"
      },
      {
        "type": "text",
        "id": "Headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "Description",
        "label": "Description"
      },
      {
        "type": "image_picker",
        "id": "badge_upload",
        "label": "Badge Upload"
      },
      {
        "type": "range",
        "id": "badgeSize",
        "min": 50,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Badge size",
        "default": 100
      },
            {
        "type": "text",
        "id": "buttonText",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "buttonUrl",
        "label": "Button Url"
      },
      {
        "type": "color",
        "id": "buttoncolor",
        "label": "Button color"
      }
      
    ],
    "presets": [
      {
        "name": "Headline Feature"
      }
    ]
  }
{% endschema %}