<style>
.image_section{
  background: {{section.settings.bgColor}};
}
  .image_section_desktop{
    width: {{section.settings.imageWidth}}%;
    margin: auto;
    
    height: auto;
  }
  .image_section_desktop img,
  image_section_mobile img{
    width: 100%;
    height: auto;
  }
  .image_section_mobile{
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 750px){
    .image_section_desktop{
      display: none ;
      
    }
    .image_section_mobile{
      display: flex;
    }
      .image_section{
    padding: 20px ;
  }
  }
  @media screen and (min-width: 751px){
    .image_section_desktop{
      display: flex ;
    }
    .image_section_mobile{
      display: none;
    }
      .image_section{
    padding: 100px 0px;
  }
  }
   @media screen and (min-width: 750px){
    #image_section-{{ section.id }}{
       padding-top: {{section.settings.desktop_paddingTop}}px;
       padding-bottom: {{section.settings.desktop_paddingBottom}}px;
      
    }
  }
  @media screen and (max-width: 749px){
    #image_section-{{ section.id }}{
       padding-top: {{section.settings.mobile_paddingTop}}px;
       padding-bottom: {{section.settings.mobile_paddingBottom}}px;
      
    }
  }
</style>


<section class="image_section" id="image_section-{{  section.id }}" >
   <div class="container">

      <div class="image_section_inner">
        {% if section.settings.desktopImage != blank or section.settings.mobileImage != blank %}
        {% if section.settings.desktopImage != blank %}
        <div class="image_section_desktop"> 
          {{  section.settings.desktopImage | image_url:width:section.settings.desktopImage.width | image_tag:loading: 'lazy' }}
        </div>
          {% endif %}
        {% if section.settings.mobileImage != blank %}
        <div class="image_section_mobile"> 
          {{  section.settings.mobileImage | image_url:width:section.settings.mobileImage.width | image_tag:loading: 'lazy' }}
        </div>
            {% endif %}
        {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}

        {% endif %}
        
      </div>
   </div>
</section>





{% schema %}
  {
    "name": "Image Section",
    "settings": [
      {
        "type": "color",
        "id": "bgColor",
        "label": "Background Color"
      },
         {
        "type": "image_picker",
        "id": "desktopImage",
        "label": "Desktop Image"
      },
      {
  "type": "range",
  "id": "imageWidth",
  "min": 20,
  "max": 100,
  "step": 2,
  "unit": "%",
  "label": "Desktop Width",
  "default": 50
},

         {
        "type": "image_picker",
        "id": "mobileImage",
        "label": "Mobile Image"
      },
           {
        "type": "range",
        "id": "desktop_paddingTop",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Desktop padding top",
        "default": 20
},
      {
        "type": "range",
        "id": "desktop_paddingBottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Desktop padding Bottom",
        "default": 20
},
      {
        "type": "range",
        "id": "mobile_paddingTop",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding top",
        "default": 20
},
      {
        "type": "range",
        "id": "mobile_paddingBottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Mobile padding Bottom",
        "default": 20
},
    ],
    "presets":[
      {
        "name": "Image Section"
      }
    ]
  }
{% endschema %}