<style>
    @media screen and (min-width: 750px) {
        .product_feature {
            padding-top: {{section.settings.desktop_paddingTop}}px;
            padding-bottom: {{section.settings.desktop_paddingBottom}}px;
        }

        .product_feature_swatches_media {
            width: {{section.settings.swatchImageWidth}}%;
            margin: auto;
        }
    }

    @media screen and (max-width: 749px) {
        .product_feature {
            padding-top: {{section.settings.mobile_paddingTop}}px;
            padding-bottom: {{section.settings.mobile_paddingBottom}}px;
            padding-left: 40px;
            padding-right: 40px;
        }

        .product_feature_buttons {
            flex-direction: column !important;
            width: 100%;
        }

        .product_feature_buttons a {
            min-width: 100% !important;
        }

        .product_feature_swatchesContainer {
            padding-top: 40px !important;
            padding-bottom: 10px !important;
        }
    }

    .product_feature_content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-cotent: center;
    }

    .product_feature_content p {
        text-align: center;
        margin-top: 20px;
        color: #4A4E58;
        leading-trim: both;
        text-edge: cap;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .product_feature_buttons {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-cotent: center;
        gap: 10px;
    }

    .product_feature_buttons a {
        display: flex;
        height: 48px;
        min-width: 172px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        text-decoration: none;
    }

    .product_feature_buttons a:nth-child(1) {
        background-color: {{section.settings.firstButtonBgColor}};
        color: {{section.settings.firstButtonTextColor}};
    }

    .product_feature_buttons a:nth-child(2) {
        background-color: {{section.settings.secondButtonBgColor}};
        color: {{section.settings.secondButtonTextColor}};
    }

    .product_feature_colorSwatches {
        display: flex;
        gap: 10px;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0px;
        margin: 0px;
    }

    .product_feature_swatchesContainer {
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .product_feature_colorSwatches li {
        width: 28px;
        height: 28px;
        border-radius: 100px;
        list-style: none;
    }

    .product_feature_colorSwatches li.active {
        border: 2px solid #4A4E58;
    }

    .product_feature_media img {
        width: 100%;
        max-width: 354px;
        height: auto;
    }

    .product_feature_swatches_media img {
        width: 100%;
        height: auto;
    }

    .product_feature_swatches_media img {
        display: none;
    }

    .product_feature_swatches_media img.active {
        display: block !important;
    }

    .product_feature_swatchesContainer label {
        display: none;
        color: #4A4E58;
        leading-trim: both;
        text-edge: cap;
        font-family: Avenir;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .product_feature_swatchesContainer label.active {
        display: block !important;
    }
</style>

<section class="product_feature" id="product_feature-{{ section.id }}">
    <div class="container">
        <div class="product_feature_inner">
            <div class="product_feature_content">
                {% if section.settings.headlineUpload != blank %}
                    <div class="product_feature_media">
                        {{ section.settings.headlineUpload | image_url:width:section.settings.headlineUpload.width | image_tag:loading:'lazy' }}
                    </div>
                {% else %}
                    <div class="product_feature_media">
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {% endif %}
                <p>{{ section.settings.subText }}</p>
                <div class="product_feature_buttons">
                    <a href="{{ section.settings.firstButtonUrl }}" class="">
                        {{ section.settings.firstButtonText }}
                    </a>
                    <a href="{{ section.settings.secondButtonUrl }}" class="">
                        {{ section.settings.secondButtonText }}
                    </a>
                </div>

                <div class="product_feature_swatchesContainer">
                    <ul class="product_feature_colorSwatches">
                        {%- for block in section.blocks -%}
                        {%- case block.type -%}
                        {% when 'colorSwatch' %}
                        <li swatch-id="swatch-{{ block.id }}" style="background-color: {{ block.settings.colorSwatch }}" image-data="{{ block.settings.swatchImage }}" class="colorSwatch colorSwatch-{{ block.id }}">
                        </li>
                        {% endcase %}
                        {% endfor %}
                    </ul>
                    {%- for block in section.blocks -%}
                    {%- case block.type -%}
                    {% when 'colorSwatch' %}
                    <label image-data="{{ block.settings.swatchImage }}" class="">
                        {{ block.settings.swatchLabel }}
                    </label>
                    {% endcase %}
                    {% endfor %}
                </div>
            </div>
            <div class="product_feature_swatches_media">
                {%- for block in section.blocks -%}
                {%- case block.type -%}
                {% when 'colorSwatch' %}
                {{ block.settings.swatchImage | image_url:width:section.settings.swatchImage.width | image_tag:loading:'lazy', image-data:block.settings.swatchImage, class:'' }}
                {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Set the default active state for the first swatch, label, and image
        const firstSwatch = document.querySelector('.product_feature_colorSwatches li');
        const firstLabel = document.querySelector('.product_feature_swatchesContainer label');
        const firstImage = document.querySelector('.product_feature_swatches_media img');

        if (firstSwatch) firstSwatch.classList.add('active');
        if (firstLabel) firstLabel.classList.add('active');
        if (firstImage) firstImage.classList.add('active');

        document.querySelectorAll('.product_feature_colorSwatches li').forEach(function(swatch) {
            swatch.addEventListener('click', function() {
                // Get the image-data attribute of the clicked swatch
                const selectedImage = swatch.getAttribute('image-data');

                // Remove active class from all swatches, images, and labels
                document.querySelectorAll('.product_feature_colorSwatches li').forEach(function(li) {
                    li.classList.remove('active');
                });
                document.querySelectorAll('.product_feature_swatches_media img').forEach(function(img) {
                    img.classList.remove('active');
                });
                document.querySelectorAll('.product_feature_swatchesContainer label').forEach(function(label) {
                    label.classList.remove('active');
                });

                // Add active class to the clicked swatch
                swatch.classList.add('active');

                // Find and add active class to the corresponding image
                const matchingImage = document.querySelector(`.product_feature_swatches_media img[image-data="${selectedImage}"]`);
                if (matchingImage) {
                    matchingImage.classList.add('active');
                }

                // Find and add active class to the corresponding label
                const matchingLabel = document.querySelector(`.product_feature_swatchesContainer label[image-data="${selectedImage}"]`);
                if (matchingLabel) {
                    matchingLabel.classList.add('active');
                }
            });
        });
    });
</script>

{% schema %}
{
    "name": "Product Feature",
    "settings": [
        {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "fontColor",
            "label": "Font Color",
            "default": "#000"
        },
        {
            "type": "image_picker",
            "id": "headlineUpload",
            "label": "Headline Upload"
        },
        {
            "type": "text",
            "id": "subText",
            "label": "Subtext",
            "default": "Brand new limited edition coloroways."
        },
        {
            "type": "text",
            "id": "firstButtonText",
            "label": "First button text",
            "default": "Shop Now"
        },
        {
            "type": "text",
            "id": "firstButtonUrl",
            "label": "First button Url"
        },
        {
            "type": "text",
            "id": "secondButtonText",
            "label": "Second button text",
            "default": "Shop Now"
        },
        {
            "type": "text",
            "id": "secondButtonUrl",
            "label": "Second button Url"
        },
        {
            "type": "color",
            "id": "firstButtonTextColor",
            "label": "First Button Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "firstButtonBgColor",
            "label": "First Button Background Color",
            "default": "#E9522E"
        },
        {
            "type": "color",
            "id": "secondButtonTextColor",
            "label": "Second Button Text Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "secondButtonBgColor",
            "label": "Second Button Background Color",
            "default": "#4A4E58"
        },
        {
            "type": "range",
            "id": "swatchImageWidth",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Desktop Swatch Image Width",
            "default": 80
        },
        {
            "type": "range",
            "id": "desktop_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "desktop_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding Bottom",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding Bottom",
            "default": 20
        },
    ],
    "blocks": [
        {
            "type": "colorSwatch",
            "name": "Color Swatch",
            "settings": [
                {
                    "type": "color",
                    "id": "colorSwatch",
                    "label": "Color Swatch"
                },
                {
                    "type": "text",
                    "id": "swatchLabel",
                    "label": "Swatch Label",
                    "default": "Blaze Orange"
                },
                {
                    "type": "image_picker",
                    "id": "swatchImage",
                    "label": "Swatch Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Feature",
           "blocks": [
              {
                "type": "colorSwatch"
              },
              {
                "type": "colorSwatch"
              },
              {
                "type": "colorSwatch"
              }

          ]
        }
    ]
}
{% endschema %}
