<style>
        .step_Carousel{
          background-color: {{section.settings.backgroundColor}};
        }
        .step_Carousel_inner h2,
        .step_Carousel_inner h3,
        .step_Carousel_inner p{
          color: {{section.settings.fontColor}};    
        }
        .step_Carousel_inner h5{
          color: {{section.settings.badgeColor}};
          background: {{section.settings.badgeBgColor}};
          
        }
    @media screen and (min-width: 750px) {
        .step_Carousel {
            padding-top: {{section.settings.desktop_paddingTop}}px;
            padding-bottom: {{section.settings.desktop_paddingBottom}}px;
            padding-left: 100px;
            padding-right: 100px;
        }

        .step_Carousel_inner h2 {
            padding-bottom: 100px;
            leading-trim: both;
            text-edge: cap;
            font-family: 'Avenir Next';
            font-size: 60px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 60px */
        }

        #shopify-section-{{ section.id }} .slick-track {
            display: flex !important;
            gap: 40px;
            margin-left: -40px;
        }
    }

    @media screen and (max-width: 749px) {
        .step_Carousel {
            padding-top: {{section.settings.mobile_paddingTop}}px;
            padding-bottom: {{section.settings.mobile_paddingBottom}}px;
            padding-left: 20px;
        }

        #shopify-section-{{ section.id }} .slick-track {
            display: flex !important;
            gap: 20px;
            margin-left: -20px;
        }

        .step_Carousel_inner h2 {
            padding-bottom: 40px;
            leading-trim: both;
            text-edge: cap;
            font-family: 'Avenir Next';
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%; /* 32px */
        }
    }

    .main_step_Carousel {
        display: flex;
        gap: 40px;
    }

    .main_step_Carousel_item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main_step_Carousel_item h5 {
        display: flex;
        padding: 10px;
        align-items: center;
        border-radius: 4px;
        leading-trim: both;
        text-edge: cap;
        font-family: 'Avenir Next';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: fit-content;
    }

    .main_step_Carousel_item h3 {
        padding-bottom: 20px;
        border-bottom: 1px solid #4A4E58;
        leading-trim: both;
        text-edge: cap;
        font-family: 'Avenir Next';
        font-size: 24px;
        padding-top: 20px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .main_step_Carousel_item {
        color: #4A4E58;
        leading-trim: both;
        text-edge: cap;
        font-family: 'Avenir Next';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .main_step_Carousel_item_media img {
        width: 100%;
        height: auto;
    }

    .main_step_Carousel_item p {
        padding-bottom: 40px;
        leading-trim: both;
        text-edge: cap;
        font-family: 'Avenir Next';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #shopify-section_{{section.id}} .slick-dots {
        display: none !important;
    }
</style>

<section class="step_Carousel" id="step_Carousel-{{ section.id }}">
    <div class="container">
        <div class="step_Carousel_inner">
            <h2>{{ section.settings.headline }}</h2>
            <div class="main_step_Carousel">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when "Step" %}
                            <div class="main_step_Carousel_item"> 
                                <h5>{{ block.settings.stepText }}</h5>
                                <h3>{{ block.settings.headline }}</h3>
                                <p>{{ block.settings.description }}</p>
                                <div class="main_step_Carousel_item_media">
                                    {{ block.settings.image | image_url:width:block.settings.image.width | image_tag:loading: "lazy" }}
                                </div>
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Slick Slider CSS -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>

<!-- Slick Slider JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    $('.main_step_Carousel').slick({
        false: true,
        infinite: false,
        speed: 300,
        slidesToShow: 3.5,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2.5,
                    slidesToScroll: 1,
                    infinite: true,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1.2,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>

{% schema %}
{
    "name": "Steps Carousel",
    "settings": [
        {
            "type": "color",
            "id": "backgroundColor",
            "label": "Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "fontColor",
            "label": "Font Color",
            "default": "#000"
        },
        {
            "type": "color",
            "id": "badgeColor",
            "label": "Badge Color",
            "default": "#fff"
        },
         {
            "type": "color",
            "id": "badgeBgColor",
            "label": "Badge Background Color",
            "default": "#6A6A45"
        },
        {
            "type": "text",
            "id": "headline",
            "label": "Headline",
            "default": "How to: training bumper"
        },
        {
            "type": "range",
            "id": "swatchImageWidth",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Desktop Swatch Image Width",
            "default": 80
        },
        {
            "type": "range",
            "id": "desktop_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "desktop_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Desktop padding Bottom",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingTop",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding top",
            "default": 20
        },
        {
            "type": "range",
            "id": "mobile_paddingBottom",
            "min": 0,
            "max": 200,
            "step": 2,
            "unit": "px",
            "label": "Mobile padding Bottom",
            "default": 20
        }
    ],
    "blocks": [
        {
            "type": "Step",
            "name": "Step",
            "settings": [
                {
                    "type": "text",
                    "id": "stepText",
                    "label": "Step Text",
                    "default": "Step 1"
                },
                {
                    "type": "text",
                    "id": "headline",
                    "label": "Headline",
                    "default": "Lorem Ipsum Dolor"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Steps Carousel",
            "blocks": [
                {
                    "type": "Step"
                },
                {
                    "type": "Step"
                },
                {
                    "type": "Step"
                }
            ]
        }
    ]
}
{% endschema %}
