<style>
  .W_about{
    background-color: {{section.settings.backgroundColor}};
    
  }
  .W_about_inner_Headline h2,
  .W_about_inner_item_content h3,
  .W_about_inner_item_content p{
   color: {{section.settings.fontColor}};

     }
  .W_about_inner_Headline h2{
    color: #4A4E58;
leading-trim: both;
text-edge: cap;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: 125%; /* 72px */
text-transform: uppercase;
  }
  .W_about_inner_item_media img{
    width: 100%;
    height: auto;
  }
  .W_about_inner_item_content h3{
    color: #4A4E58;

leading-trim: both;

text-edge: cap;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 28px; /* 32px */
  }
    .W_about_inner_item_content p{
      color: #4A4E58;
leading-trim: both;
text-edge: cap;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
    }
  @media screen and (min-width: 991px){
   .W_about .W_about_inner_Items{
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     column-gap: 60px;
     justify-content: start;
   }
     .W_about{
       padding-top: {{section.settings.desktop_paddingTop}}%;
       padding-bottom: {{section.settings.desktop_paddingBottom}}%;
            padding-left: {{section.settings.desktop_paddingLeftRight}}%;
            padding-right: {{section.settings.desktop_paddingLeftRight}}%;
       
     }
  }
    @media screen and (max-width: 990px){
         .W_about{
       padding-top: {{section.settings.mobile_paddingTop}}%;
       padding-bottom: {{section.settings.mobile_paddingBottom}}%;
            padding-left: {{section.settings.mobile_paddingLeftRight}}%;
            padding-right: {{section.settings.mobile_paddingLeftRight}}%;
       
     }
   .W_about .W_about_inner_Items{
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 25px;
     align-items: center;
     justify-content: start;
   }
    .W_about_inner_item_content h3{
      font-size: 32px;
    }
  }
</style>
<section class="W_about" id="W_about-{{ section.id }}">
   <div class="container">
      <div class="W_about_inner">
       <div class="W_about_inner_Headline"> 
          <h2>{{ section.settings.headline }}</h2>
       </div>
        <div class="W_about_inner_Items"> 
            {% for block in section.blocks %}
              {% case block.type %}
                 {% when 'item' %}
                <div class="W_about_inner_item">
                  <div class="W_about_inner_item_content">
                  {% if block.settings.description  != blank %}
                    
                     <h3>{{ block.settings.headline }}</h3>
                    {% endif %}
                  {% if block.settings.description  != blank %}
                    
                  <p>{{ block.settings.description }}</p>
                    {% endif %}
                    
                  </div>
                  {% if block.settings.image  != blank %}
                <div class="W_about_inner_item_media">
                    {{ block.settings.image | image_url:width:block.settings.image.width | image_tag:loading:'lazy'}}
                  </div>
                  {% else %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}

                    {% endif %}
                </div>
                {% endcase %}
              {% endfor %}
        </div>
        
      </div>
   </div>
</section>

{% schema %}
{
"name": "What we are about",
"settings": [
  {
"type": "color",
"id": "backgroundColor",
"label": "Background Color"
},
   {
"type": "color",
"id": "fontColor",
"label": "Font Color"
},
   {
             "type": "text",
             "id": "headline",
             "label": "Headline",
             "default": "Here’s what we are about."
           },
  {
"type": "range",
"id": "desktop_paddingTop",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Desktop Padding Top",
"default":11
},
  {
"type": "range",
"id": "desktop_paddingBottom",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Desktop Padding Bottom",
"default": 11
},
  {
"type": "range",
"id": "mobile_paddingTop",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Mobile Padding Top",
"default": 9
},
  {
"type": "range",
"id": "mobile_paddingBottom",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Mobile Padding Bottom",
"default": 9
},
  {
"type": "range",
"id": "desktop_paddingLeftRight",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Desktop Padding Horizontal",
"default": 8
},
    {
"type": "range",
"id": "mobile_paddingLeftRight",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Mobile Padding Horizontal",
"default": 6
}
],
  "blocks":[
       {
         "type": "item",
         "name": "Item",
         "settings":[
           {
             "type": "text",
             "id": "headline",
             "label": "Headline",
             "default": "Honesty and Friendship"
           },
           {
             "type": "richtext",
             "id": "description",
             "label": "Description",
             "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>"
           },
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           }
         ]
       }
  ],
"presets": [
{
"name": "What we are about",
  "blocks": [
        {
          "type": "item"
        },
    {
          "type": "item"
        },
    {
          "type": "item"
        }

]
}
]
}
{% endschema %}